body{
    margin:0px; 
    padding:0px;
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.hide{
    display:none;
}
input[type=submit]{
/*
    border:0px;
    background-color:transparent;
    color:white;
    cursor:pointer;
    font-weight:bold;
*/
}
textarea{
    width:100%;
    resize:vertical;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow:0px 0px 1px #000;
    border:0px;
    border-radius:3px;
    margin-top:10px;
    padding:8px;
    font-size:14px;
    height:120px;
}
.button1{
    color:#fff;
    padding-top:6px;
    padding-bottom:8px;
    padding-left:15px;
    padding-right:15px;
    font-size:12px;
    font-weight:bold;
    border:1px solid #098bb5;
	background: -webkit-gradient(linear, left top, left bottom, from(#a6daeb), to(#2fbeed));
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
    margin-bottom:20px;
}
.button2{
    background-color:silver;
    border:0px;
    color:white;
    margin:3px;
    margin-top:2px;
    font-size:10px;
    font-weight:bold;
    height:21px;
    border-radius:2px;
    cursor:pointer;
}

.mylist{
    padding:5px;
    margin:2px;
    cursor:pointer;
    border-radius:3px;
}
.mylist.sel, .mylist:hover{
    background-color:#a2a2a2;
    color:white;
}
#inlog{
    position:absolute;
    top:5px;
    right:40px;
    width:200px;
    color:white;
    font-size:13px;
    font-weight:bold;
    text-align:right;
}

/*  ---------------------------------------  PERSONAL  */

#personal{
    position:absolute;
    right:0px;
    top:0px;
    color:black;
    padding-top:10px;
    width:100%;
}
#personal .myname{
    position:absolute;
    top:0px;
    width:100%;
    font-size:22px;
    font-weight:bold;
    background-color:gray;
    color:white;
    z-index:-1;
    text-align:left;
    padding:15px;
}
#personal .menu{
    margin-right:20px;
    margin-top:15px;
    font-size:12px;
    font-weight:bold;
    margin-bottom:20px;
    margin-top:60px;
    margin-left:10px;
}#personal .menu span{
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:4px;
    cursor:pointer;
}#personal .menu span.sel, #personal .menu span:hover{
    background-color:gray;
    color:white;
}


/*  ---------------------------------------  MYIMPO  */

#personal #myimpo{
    position:relative;
    background-color:gray;
    color:white;
    text-align:center;
    padding:5px;
    padding-top:3px;
}#personal #myimpo span{
    margin:-1px;
    padding:5px;
    padding-left:12px;
    padding-right:12px;
    font-size:12px;
    font-weight:bold;
    cursor:pointer;
}#personal #myimpo span.sel, #personal #myimpo span:hover{
    color:white;
    background-color:#b2b2b2;
}#personal #myimpo .tria{
    position:absolute;
    left:265px;
    margin-top:-11px;
    width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid gray;
    z-index:-1;
}#personal #myimpo .tria2{
    position:absolute;
    left:75px;
    margin-top:0px;
    width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #b2b2b2;
    z-index:1;
}

/*  ---------------------------------------  MYINFO  */

#personal #myinfo{
    background-color:rgba(255, 255, 255, 0.5);
    border:1px solid gray;
    padding:10px;
    margin-right:-80px;
}#personal #myinfo div{
    padding:5px;
}#personal #myinfo .box:hover{
    background-color:silver;
    color:white;
}#personal #myinfo .tit{
    display:inline;
    float:left;
    text-align:left;
    width:120px;
    font-weight:bold;
    color:gray;
}#personal #myinfo .valu{
    display:inline-block;
    text-align:left;
    width:280px;
}




/* -------------------------------------------  QTIP  */
.qtip-load{
    height:30px;
    margin-left:2px;
    margin-top:6px;
    margin-right:2px;
}
.qtip-main{
    padding:0px;
    border-radius:5px;
    background:#33b5e5;
    box-shadow:0px 0px 5px #333;
    border:2px solid rgba(255, 255, 255, 0.9);
}.qtip-right{
    border-radius:5px;
    padding-bottom:9px;
    box-shadow:0px 0px 5px #333;
    max-width: 320px;
    color:black;
    background-color:rgba(255, 255, 255, 0.9);
}.qtip-info{
    border-radius:5px;
    padding-bottom:10px;
    box-shadow:0px 0px 5px #333;
    max-width:700px;
    color:black;
    background-color:rgba(255, 255, 255, 0.9);
}.qtip-vote{
    font-size:9px;
    font-weight:bold;
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
    border:0px;
    box-shadow:0px 0px 1px #000;
    border-radius:3px;
}.qtip-history{
    border-radius:5px;
    color:black;
    background-color:rgba(255, 255, 255, 1);
    border:1px solid #c3c3c3;
    padding-top:5px;
}.qtip-rank{
    padding:10px;
    border-radius:3px;
    color:black;
    background-color:rgba(255, 255, 255, 1);
    box-shadow:0px 0px 2px #333;
    font-size:12px;
}.qtip-avatar{
    
}


/* -------------------------------------------  MESS  */


.cont-mess{
    width:250px;
    font-size:12px;
    margin-bottom:-20px;
    margin-right:-3px;
}

.cont-mess ::-webkit-scrollbar, 
#menu-top ::-webkit-scrollbar{
    width: 8px;
}
.cont-mess ::-webkit-scrollbar-track,
#menu-top ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 0px rgb(0, 0, 0); 
    border-radius: 10px;
}
.cont-mess ::-webkit-scrollbar-thumb,
#menu-top ::-webkit-scrollbar-thumb{
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0); 
}

/*
.cont-mess ::-webkit-scrollbar{
    width: 0px;
}
*/

.cont-mess a{
    text-decoration:none;
    color:black;
}.cont-mess a:hover{
    text-decoration:underline;
}
.cont-mess .cont1{
    max-height:500px;
    overflow:auto;
    padding-right:0px;
    margin-bottom:10px;
    margin-top:5px;
    font-size:12px;
}
.cont-mess .mess{
	line-height: 20px;
    border:1px dotted silver;
    margin-bottom:5px;
    padding:10px;
    background-color:white;
    cursor:pointer;
    margin-right:5px;
}.cont-mess .mess.new{
    background-color:#ededed;
}.cont-mess .mess.old{
    background-color:white;
}

.cont-mess .mess:hover{
    border:1px dotted black;
}.cont-mess .mess button{
	float:right;
    border:0px;
    background-color:rgba(0, 0, 0, 0.2);
    color:white;
    margin-top:-3px;
    margin-right:-3px;
    border-radius:3px;
    font-size:10px;
    cursor:pointer;
    display:none;
}.cont-mess .mess button:hover{
    background-color:rgba(0, 0, 0, 0.5);
}.cont-mess .mess img{
	height:30px;
    position:absolute;
}.cont-mess .p1{
    margin:0px;
    margin-top:0px;
    font-weight:bold;
    border-bottom:1px solid silver;
    padding-bottom:5px;
}.cont-mess .p2{
    margin:0px;
    margin-top:5px;
    margin-bottom:10px;
    margin-right:20px;
}.cont-mess .p3{
    color:gray;
    cursor:pointer;
    margin:0px;
    padding-top:5px;
    border-top:1px solid silver;
}.cont-mess .p3 a{
    color:gray;
}.cont-mess .pinfo{
    margin-left:50px;
}
.cont-mess .allmess .mess{
    background-color:rgba(255, 255, 255, 0.3);
    padding-top:5px;
    color:#fff;
    padding-bottom:5px;
    text-align:center;
    font-weight:bold;
}.cont-mess .allmess:hover{
    text-decoration:none;
}

.cont-mess .tool{
    height:40px;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:10px;
    border:1px dotted silver;
    margin-bottom:5px;
    padding:5px;
    background-color:white;
}.cont-mess .tool .logo{
    height:40px;
    margin-bottom:-15px;
}.cont-mess .tool span{
    font-size:14px;
    font-weight:bold;
    margin-left:10px;
}


/*  ---------------------------------------  MAIN  */

#main{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    min-width:10px;
    display:inherit;
}
#main #main-copy{
    position:relative;
    background-color:#f7f7f7;
    background:#f2f2f2 url("/assets/img/creampaper.png");
    padding-top:80px;
    min-height:100%;
    padding-right:20px;
    padding-bottom:20px;
    box-shadow:1px 0px 5px #000;
}
#main #main-copy #main1{
    padding-left:20px;
    border-left:1px dotted gray;
    max-width:800px;
}#main #main-copy .p123{
    background-color:silver;
    color:white;
    padding:5px;
    padding-left:10px;
    padding-right:28px;
    margin-right:-30px;
    border-radius:5px;
    font-size:11px;
    font-weight:bold;
    cursor:pointer;
}#main #main-copy .fulsug{
    display:inline-block;
    padding:4px;
    padding-top:2px;
    padding-right:8px;
    background-color:gray;
    color:white;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    margin-left:10px;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
}#main #main-copy .fulsug .tria{
    display:inline-block;
    margin-bottom:-6px;
    margin-left:-9px;
    width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid gray; 
}


/*  ---------------------------------------  PROPOSAL  */


#proposalNewComment{
    height:200px;
}

#main .proposal_main{
    position:relative;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius:3px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    box-shadow:0px 0px 1px #000;
    margin-bottom:20px;
}
.proposal_main form{
    display:none;  
    position:relative;
}.proposal_main .tool{
    position:absolute;
    right:10px;
/*
    float:right;
    padding-left:10px;
    padding-right:10px;
    height:41px;
    border-top:1px solid #bababa;
    border-bottom:1px solid #bababa;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#cecdcd));
*/
}.proposal_main .tool input{
    font-size:12px;
    border:1px solid #a2a2a2;
    height:28px;
    width:80px;
    margin-top:7px;
}

#main .proposalTitle{
    margin-right:0px;
    font-size:25px;
}
#main .tit1{
    position:relative;
    padding:3px;
    margin-bottom:-16px;
    background-color:rgba(222, 222, 222, 0.5);
    padding:10px;
    border-radius:3px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    font-size:14px;
    z-index:1;
    border-bottom:t1px solid silver;
}#main .tit1.big{
    font-size:23px;
    box-shadow:0px 1px 2px #333;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dedede), color-stop(1, #a7a7a7));
    color:#fff;
}
.proposal_content{
    padding:10px;
}
#main #new_proposal_comment{
    margin-top:20px;
    max-width:820px;
}

#main #new_proposal_comment button{
    color:#fff;
    border:1px solid #098bb5;
	background: -webkit-gradient(linear, left top, left bottom, from(#2fbeed), to(#a6daeb));
}

#main .loading{
    display:none;
    height:20px;
    margin:0px;
    margin-bottom:-6px;
    margin-left:5px;
    margin-right:-5px;
}






/*  ---------------------------------------  MULTISOLUTION  */

.tit1.solution{
    border-top:1px solid #d3d3d3;
    margin-top:-20px;
}.tit1.solution .myimput{
    display:none;
    margin:0px;
    margin-right:220px;
    margin-bottom:-5px;
}.tit1.solution .myimput input{
    padding:2px;
    width:100%;
    font-size:14px;
    font-weight:bold;
}
.multisolution{
    margin-bottom:0px;
    font-weight:bold;
}.multisolution .tit{
    padding:10px;
    background-color:rgba(222, 222, 222, 0.5);
    font-size:14px;
    margin-bottom:10px;
}.multisolution .newsolution{
    float:right;
    border:0px;
    padding:5px;
    padding-right:10px;
    padding-left:10px;
    color:gray;
    border-radius:5px;
    margin:6px;
    font-weight:bold;
/*
    border:1px solid #b5b5b5;
*/
    cursor:pointer;
    background-color:transparent;
}.multisolution .newsolution:hover{
    color:white;
    background-color:gray;
}.multisolution .cont{
    position:relative;
    overflow:auto;
    max-height:200px;
    padding-right:0px;
    margin-bottom:25px;
}.multisolution .box{
    color:gray;
    border-radius:0px;
    margin-bottom:5px;
    margin-left:10px;
    margin-right:10px;
    padding:5px;
    cursor:pointer;
    font-weight:bold;
    border-radius:0px;
    border:1px solid rgba(255, 255, 255, 0);
}.multisolution .box.sel, .multisolution .box:hover{
    background-color:rgba(222, 222, 222, 1);
    border:1px solid silver;
    color:black;
}.multisolution .box .numb{
    color:gray;
    font-size:12px;
    margin-right:10px;
    display:none;
}.multisolution .box .date{
    float:right;
    font-size:12px;
    color:gray;
    padding-left:10px;
    border-left:1px dotted gray;
    margin-left:10px;
}

.multisolution.loadx{
    
}.multisolution .loadx{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
}.multisolution .loadx img{
    position:absolute;
    height:50px;
    left:50%;
    top:50%;
    margin-left:-25px;
    margin-top:-25px;
}


.multisolution ::-webkit-scrollbar{
    width: 8px;
}
.multisolution ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 0px rgb(0, 0, 0); 
    border-radius: 10px;
}
.multisolution ::-webkit-scrollbar-thumb{
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0); 
}




/*  ---------------------------------------  MENU-LEFT  */

#main  #menu-left #rankleftpanel,
#main  #menu-left .menu2-show,
#main #menu-left .menu2{
    margin-bottom:10px;
    border:1px solid silver;
    border-radius:5px;
    background-color:rgba(255, 255, 255, 1);
    padding:10px;
    margin-right:20px;
    margin-left:20px;
}
#main .points, #main .ranking, #main .percent-bar{
    display:inline-block;
    cursor:help;
}#main .littleText{
    margin:0px;
    padding:0px;
    font-size:20px;
    font-weight:bold;
}
#main .rightAlign{
    font-size:23px;
    font-weight:bold;
    color:#de7c09;
}#main .ranking{
    margin-bottom:10px;
}
#main .myshare{
    height:20px;
    background-color:rgba(255, 255, 255, 0.7);
    border:1px solid silver;
    border-radius:5px;
    padding:10px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
}
#main .myshare div{
    display:inline-block;
}#main .myshare img{
    margin-left:-5px;
    margin-top:-8px;
}
#main #main-copy.slim #menu-left{
    width:100%;
}#main #main-copy.slim #menu-left #rankleftpanel div{
    display:inline-block;
}#main #main-copy.slim #menu-left #rankleftpanel{
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    margin-right:0px;
}#main #main-copy.slim #menu-left .myshare{
    display:none;
}#main #main-copy.slim #menu-left .menu2{
    margin-right:0px;
    margin-top:-10px;
    padding:10px;
    padding-bottom:0px;
    border-radius:0px;
    background-color:#fff;
    border:1px solid silver;
}#main #main-copy.slim #menu-left #rankleftpanel div,
#main #main-copy.slim #menu-left #rankleftpanel img,
#main #main-copy.slim #menu-left #rankleftpanel h2,
#main #main-copy.slim #menu-left #rankleftpanel span{
    margin:2px;
}#main #main-copy.slim #menu-left #rankleftpanel img{
    float:right;
}#main #main-copy.slim #menu-left .menu2 .menu2-show{
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    text-align:center;
    font-size:12px;
    font-weight:bold;
    color:gray;
    padding:5px;
    cursor:pointer;
}

/*  ---------------------------------------  MENU-LEFT  */

#main #main-copy #menu-left{
    float:left;
    width:280px;
    padding-top:15px;
}
#main  #menu-left .title_grey{
    color:gray;
    margin-top:10px;
}#main  #menu-left .anonimato{
    margin-top:20px;
}
#main #menu-left .menu2{
    background-color:transparent;
    padding:0px;
    border:0px;
}#main #menu-left .menu2 a{
    font-size:12px;
}#main #menu-left .menu2 .mybox{
    padding:10px;
    padding-bottom:5px;
    background-color:rgba(255, 255, 255, 0.7);
    box-shadow:0px 0px 1px #000;
    border-radius:3px;
    margin:0px;
    margin-bottom:10px;
    font-size:12px;
    color:#333;
}#main #menu-left .menu2 h4{
    padding:0px;
    margin:0px;
    margin:5px;
    margin-bottom:10px;
    cursor:pointer;
}#main #menu-left .menu2 h4:hover{
    color:#2fbeed;
}#main #menu-left .menu2 h4 img{
    float:right;
    width:30px;
    height:30px;
    margin-top:-10px;
    margin-right:-5px;
}#main #menu-left .menu2 button{
    color:#fff;
    padding-top:6px;
    padding-bottom:8px;
    padding-left:15px;
    padding-right:15px;
    font-size:12px;
    font-weight:bold;
    border:1px solid #098bb5;
	background: -webkit-gradient(linear, left top, left bottom, from(#a6daeb), to(#2fbeed));
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
    width:100%;
}#main #menu-left .menu2 button a{
    color:white;
    font-size:12px;
    text-decoration:none;
}#main #menu-left .menu2 .mycont{
    border-top:1px dotted gray;
    padding-top:10px;
    padding-bottom:10px;
}

#main #menu-left .menu2 .mycont .pcontainer{
    margin-bottom:10px;
    padding:10px;
    padding-top:20px;
    padding-bottom:20px;
    border:1px dotted gray;
}#main #menu-left .menu2 .mycont .pcontainer img{
    height:40px;
    width:40px;
    margin-right:8px;
    margin-top:-11px;
    float:left;
    box-shadow:0px 0px 1px #000;
}#main #menu-leftmenu-left .menu2 .mycont .pcontainer .Mo{
    font-size:14px;
}

#main #main-copy.slim{

}#main #main-copy.slim #main1{
    margin:0px;
}

/*  ---------------------------------------  SUGGEST */

#main .suggest{
    position:absolute;
    right:10px;
    font-size:11px;
    color:gray;
    border-radius:5px;
    cursor:pointer;
    z-index:999;
    color:gray;
    font-size:10px;
    font-weight:bold;
    margin-right:-4px;
    margin-top:-18px;
}#main .suggest .tria{
    position:absolute;
    right:-33px;
    margin-top:-26px;
    height:38px;
    width:20px;
    display:none;
}#main .suggest .cur-suggest{
    height:20px;
    margin-bottom:-6px;
    border-left:1px dotted gray;
    display:inline-block;
    margin-left:5px;
    margin-right:0px;
}#main .suggest .cur{
    position:absolute;
    height:21px;
    width:18px;
    margin-top:-4px;
    margin-left:-29px;
}#main .suggest .tit.sug{
    padding:5px;
    border-radius:3px;
    padding-left:10px;
    padding-right:10px;
}#main .suggest .tit.sug:hover {
    color:#fff;
    background-color:#a2a2a2;
}#main .suggest .ui-icon{
    background-color:rgba(255, 255, 255, 0.4);
    margin-bottom:-5px;
    border-radius:3px;
    margin-top:-3px;
    border:1px solid #c9c9c9;
    display:inline-block;
}#main .suggest .history{
    position:absolute;
    height:17px;
    width:17px;;
}

#main .suggest.sel .tit.sug{
    color:#fff;
    background-color:#33b5e5;
    border-bottom-right-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    margin-right:-30px;
    padding-right:30px;
    margin-right:-30px;
    padding-left:20px;
    padding-top:8px;
    padding-bottom:8px;
}




/*  ---------------------------------------  COMMENTI  */


#main #proposalCommentsContainer{
    margin-top:10px;
}#main #proposalCommentsContainer > .comment1{
    background-color:rgba(255, 255, 255, 0.5);
}.comment1 .vote{
}.comment1 .vote img{
    position:relative;
    float:left;
    height:15px;
    width:15px;
    margin:0px;
    padding:0px;
    background-color:silver;
    padding:2px;
    margin:3px;
    border-radius:0px;
    cursor:pointer;
}.comment1 .vote button{
    background-color:silver;
    border:0px;
    color:white;
    margin:3px;
    margin-top:2px;
    font-size:10px;
    font-weight:bold;
    height:21px;
    border-radius:2px;
    cursor:pointer;
}.comment1 .vote button.segnala{
    float:right;
}
.comment1 .vote img:hover,
.comment1 .vote button:hover{
    background-color:gray;
}

.comment1 .tool{
    background-color:#e8e8e8;
    margin-left:50px;
    margin-bottom:10px;
    padding:10px;
}.comment1 .tool .recomment{
    margin-top:10px;
    display:none;
}.comment1 .tool .recomment img{
    position:absolute;
    margin-top:0px;
}.comment1 .tool .txtarea{
    position:relative;
    margin-left:50px;
    margin-right:0px;
    padding-bottom:27px;
    box-shadow:0px 0px 2px #333;
    border-radius:3px;
}.comment1 .tool .txtarea textarea{
    height:40px;
    width:100%;
    margin:0px;
    margin-top:0px;
    padding:0px;
    padding:4px;
    padding-left:6px;
    font-size:12px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    box-shadow:0px 0px 0px #333;
}.comment1 .tool .recomment .tolino{
    position:absolute;
    bottom:0px;
    display:inherit;
    width:100%;
    border-top:1px solid silver;
}.comment1 .tool .recomment button{
    float:right;
    height:25px;
    border-radius:0px;
    border-bottom-right-radius:5px;
    margin:0px;
    color:gray;
    background-color:silver;
    color:white;
    border:0px;
    font-size:10px;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
}.comment1 .tool .recomment button:hover{
    background-color:gray;
}

#main #proposalCommentsContainer .comment1 .date{
    position:inherit;
    left:0px;
    font-size:11px;
    color:gray;
    margin-left:0px;
    margin-top:0px;
}#main #proposalCommentsContainer .comment1 p{
    margin-left:50px;
    margin-top:5px;
    font-size:14px;
}#main #proposalCommentsContainer .reply{
    border:0px;
}#main #proposalCommentsContainer .reply .comment1{
    margin-left:50px;
    margin-top:10px;
    border:0px;
}












