<div id="menu-right">
  <div class="cont">

    <div id="account">
      <a href="/">
        <div class="span1">Marcello Kabora</div>
        <img src="/assets/img/avatar.png">
        <div class="span2">
          <a href="/">Account</a> -
          <a href="/">Profilo</a>
        </div>
      </a>
    </div>

    <div class="sep">
      <p>NOTIFY</p>
      <div class="line"></div>
    </div>

    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/01.png) center; background-size:cover;"></div>
      <button class="notify">103</button>
      <div class="tit">
        <p class="p1">Twitter More</p>
        <p class="p2">120 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/02.png) center; background-size:cover;"></div>
      <button class="notify">15</button>
      <div class="tit">
        <p class="p1">Gmail Email</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/03.png) center; background-size:cover;"></div>
      <button class="notify">1</button>
      <div class="tit">
        <p class="p1">Google Chrome</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/04.png) center; background-size:cover;"></div>
      <button class="notify">6</button>
      <div class="tit">
        <p class="p1">MySpace Music</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>

    <div class="sep">
      <p>GROUP</p>
      <div class="line"></div>
    </div>

    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/01.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Twitter More</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/02.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Gmail Email</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/03.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Google Chrome</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/04.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">MySpace Music</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/05.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Youtube Video</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/06.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Itune Music</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/07.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Opera Sucks</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/08.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Debugs Mode</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>

    <div class="sep">
      <p>METTING</p>
      <div class="line"></div>
    </div>

    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/01.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Twitter More</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/02.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Gmail Email</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/03.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Google Chrome</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/04.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">MySpace Music</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/05.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Youtube Video</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/06.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Itune Music</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/07.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Opera Sucks</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>
    <div class="box">
      <div class="logo" rel="/page/box.html" style="background:#fff url(/assets/img/logo/08.png) center; background-size:cover;"></div>
      <div class="tit">
        <p class="p1">Debugs Mode</p>
        <p class="p2">120 Menbri - 55 Proposte</p>
      </div>
    </div>

  </div>
</div>